<%= simple_form_for @recipient, html: {class: "form-horizontal"},
  wrapper: :horizontal_form,
  wrapper_mappings: {
    check_boxes: :horizontal_radio_and_checkboxes,
    radio_buttons: :horizontal_radio_and_checkboxes,
    file: :horizontal_file_input,
    boolean: :horizontal_boolean
  } do |f| %>
  <%= f.error_notification %>
  <%= f.full_error :image_file_size, class: "alert alert-error" %>
  <%= f.full_error :image_content_type, class: "alert alert-error" %>

  <%= f.input :first_name, label: "First Name" %>
  <%= f.input :last_name, label: "Last Name" %>
  <%= f.input :phone_number, label: "Phone Number" %>
  <%= f.input :household_size, label: "Household Size" %>
  <%= f.input :address, label: "Address" %>
  <%= f.input :city, label: "City, State" %>
  <%= f.input :zip, label: "ZIP Code", input_html: { maxlength: 5 }  %>
  <%= f.input :public_note, label: "Notes", input_html: { placeholder: 'Additional notes' } %>
  <%= f.input :image, label: "Photo", input_html: { placeholder: 'New Photo' } %>
  <div class="form-actions">
    <%= f.button :submit, class: "btn btn-primary" %>
    <%= link_to 'Cancel', recipients_path, class: "btn btn-default" %>
  </div>
<% end %>
