<tr>
  <td><%= recipient.firstName %></td>
  <td><%= recipient.lastName %></td>
  <td><%= recipient.phoneNumber %></td>
  <td><%= recipient.householdSize %></td>
  <td><%= recipient.address %></td>
  <td><%= recipient.city %></td>
  <td><%= recipient.zip %></td>
  <td><%= recipient.publicNote %></td>
  <td><%= recipient.privateNote %></td>
  <td><%= link_to 'View Profile', recipient, class: "btn btn-primary" %></td>
</tr>